In [3]:
import pandas as pd
import numpy as np

In [4]:
if __name__ == "__main__":
    series_1 = pd.Series(np.arange(10))
    series_2 = pd.Series(list('ABCDEFGHIJ'))

    df = pd.concat([series_1, series_2], axis=1)

In [5]:
display(df)

   0  1
0  0  A
1  1  B
2  2  C
3  3  D
4  4  E
5  5  F
6  6  G
7  7  H
8  8  I
9  9  J